.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  text-align: center;
  background: black;
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: white;
  font-size: 1.5rem;
  width: 5rem;
}
